<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eventb.emf.persistence.synchroniser" name="Persistency synchronisers" schema="schema/org.eventb.emf.persistence.synchroniser.exsd"/>

    <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eventb.emf.persistence.factory.RodinResourceFactory"
            type="xmb">
      </parser>
      <parser
            class="org.eventb.emf.persistence.factory.RodinResourceFactory"
            type="bum">
      </parser>
      <parser
            class="org.eventb.emf.persistence.factory.RodinResourceFactory"
            type="buc">
      </parser>
   </extension>
   
   <extension
         point="org.eventb.emf.persistence.synchroniser">
            <emfPackage
                  name="MachinePackage"
                  nsURI="http://emf.eventb.org/models/core/machine">
               <synchroniser
                     synchroniser_class="org.eventb.emf.persistence.synchroniser.MachineSynchroniser"
                     emf_class="Machine"
                     name="Machine"
                     rodin_id="org.eventb.core.machineFile">
               </synchroniser>
               <synchroniser
		            synchroniser_class="org.eventb.emf.persistence.synchroniser.VariableSynchroniser"
		            emf_class="Variable"
		            name="Variable"
		            rodin_id="org.eventb.core.variable">
		      </synchroniser>
		      <synchroniser
		            synchroniser_class="org.eventb.emf.persistence.synchroniser.InvariantSynchroniser"
		            emf_class="Invariant"
		            name="Invariant"
		            rodin_id="org.eventb.core.invariant">
		      </synchroniser>
		      <synchroniser
		      		synchroniser_class="org.eventb.emf.persistence.synchroniser.VariantSynchroniser"
		            emf_class="Variant"
		            name="Variant"
		            rodin_id="org.eventb.core.variant">
		      </synchroniser>
		      <synchroniser
		      		synchroniser_class="org.eventb.emf.persistence.synchroniser.EventSynchroniser"
		            emf_class="Event"
		            name="Event"
		            rodin_id="org.eventb.core.event">
		      </synchroniser>
		      <synchroniser
		      		synchroniser_class="org.eventb.emf.persistence.synchroniser.ParameterSynchroniser"
		            emf_class="Parameter"
		            name="Parameter"
		            rodin_id="org.eventb.core.parameter">
		      </synchroniser>
		      <synchroniser
		            synchroniser_class="org.eventb.emf.persistence.synchroniser.GuardSynchroniser"
		            emf_class="Guard"
		            name="Guard"
		            rodin_id="org.eventb.core.guard">
		      </synchroniser>
		      <synchroniser
		            synchroniser_class="org.eventb.emf.persistence.synchroniser.WitnessSynchroniser"
		            emf_class="Witness"
		            name="Witness"
		            rodin_id="org.eventb.core.witness">
		      </synchroniser>
		      <synchroniser
		            synchroniser_class="org.eventb.emf.persistence.synchroniser.ActionSynchroniser"
		            emf_class="Action"
		            name="Action"
		            rodin_id="org.eventb.core.action">
		      </synchroniser>
            </emfPackage>
            <emfPackage
                  name="ContextPackage"
                  nsURI="http://emf.eventb.org/models/core/context">
               <synchroniser
		            synchroniser_class="org.eventb.emf.persistence.synchroniser.ContextSynchroniser"
		            emf_class="Context"
		            name="Context"
		            rodin_id="org.eventb.core.contextFile">
		      </synchroniser>
		      <synchroniser
		            synchroniser_class="org.eventb.emf.persistence.synchroniser.ConstantSynchroniser"
		            emf_class="Constant"
		            name="Constant"
		            rodin_id="org.eventb.core.constant">
		      </synchroniser>
		      <synchroniser
		            synchroniser_class="org.eventb.emf.persistence.synchroniser.CarrierSetSynchroniser"
		            emf_class="CarrierSet"
		            name="CarrierSet"
		            rodin_id="org.eventb.core.carrierSet">
		      </synchroniser>
		      <synchroniser
		            synchroniser_class="org.eventb.emf.persistence.synchroniser.AxiomSynchroniser"
		            emf_class="Axiom"
		            name="Axiom"
		            rodin_id="org.eventb.core.axiom">
		      </synchroniser>
            </emfPackage>
            <emfPackage
                  name="CorePackage"
                  nsURI="http://emf.eventb.org/models/core">
               <synchroniser
                     emf_class="Project"
                     name="Project"
                     rodin_id="org.rodinp.core.project"
                     synchroniser_class="org.eventb.emf.persistence.synchroniser.ProjectSynchroniser">
               </synchroniser>
            </emfPackage>
   </extension>
   <extension
         point="org.rodinp.core.autoTools">
      <tool
            class="org.eventb.emf.persistence.factory.ModelUpdateTool"
            id="modelupdatetool"
            name="%tool.name.0">
         <extractor
               class="org.eventb.emf.persistence.factory.ModelUpdateTool"
               name="%extractor.name.0">
            <inputType
                  id="org.eventb.core.machineFile">
            </inputType>
            <inputType
                  id="org.eventb.core.contextFile">
            </inputType>
         </extractor>
      </tool>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eventb.emf.persistence.factory.ProjectFactory"
            type="prj">
      </parser>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="generator_ID"
            kind="string"
            name="Generator Plugin ID">
      </attributeType>
      <attributeType
            id="unknownAttributes"
            kind="string"
            name="Unknown Attributes">
      </attributeType>
   </extension>

</plugin>
