<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ac.soton.eventb.emf.core.extension.navigator.adapterFactories" name="%extension-point.name" schema="schema/ac.soton.eventb.emf.core.extension.navigator.adapterFactories.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionContentProvider"
            id="ac.soton.eventb.emf.core.extension.navigator.content.extensionContent"
            labelProvider="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionLabelProvider"
            name="%navigatorContent.name">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
               <instanceof
                     value="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionNavigatorItem">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionNavigatorItem">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="ac.soton.eventb.emf.core.extension.navigator.filter.AnnotationFilter"
            id="ac.soton.eventb.emf.core.extension.navigator.filter.annotationFilter"
            name="%commonFilter.name"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.eventb.emf.core.extension.navigator.content.extensionContent">
            </contentExtension>
            <contentExtension
                  pattern="ac.soton.eventb.emf.core.extension.navigator.filter.annotationFilter">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionNavigatorPropertyTester"
            id="ac.soton.eventb.emf.core.extension.navigator.propertyTester"
            namespace="ac.soton.eventb.emf.core.extension.navigator"
            properties="eventBRootChild"
            type="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionNavigatorItem">
      </propertyTester>
   </extension>
   <extension
         point="org.rodinp.core.refinements">
      <Participant
            class="ac.soton.eventb.emf.core.extension.navigator.refiner.GeneratedCopier"
            id="generatedCopierMachine"
            refinement-id="org.eventb.core.machineRefinement">
      </Participant>
      <Participant
            class="ac.soton.eventb.emf.core.extension.navigator.refiner.GeneratedCopier"
            id="generatedCopierContext"
            refinement-id="org.eventb.core.contextRefinement">
      </Participant>
      <Order
            first-participant-id="org.eventb.core.machineRefiner"
            second-participant-id="ac.soton.eventb.emf.core.extension.navigator.generatedCopierMachine">
      </Order>
      <Order
            first-participant-id="org.eventb.core.contextRefiner"
            second-participant-id="ac.soton.eventb.emf.core.extension.navigator.generatedCopierContext">
      </Order>
   </extension>

</plugin>
