<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 /***********************************************************************************************
 * Copyright (c) 2006, 2009 University of Southampton, Heinrich-Heine University Dusseldorf
 * and others. All rights reserved. This program and the accompanying materials  are made
 * available under the terms of the Eclipse Public License v1.0 which accompanies this 
 * distribution, and is available at http://www.eclipse.org/legal/epl-v10.html
 ***********************************************************************************************/
 

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://emf.eventb.org/models/core"
            class="org.eventb.emf.core.provider.CoreItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://emf.eventb.org/models/core/machine"
            class="org.eventb.emf.core.machine.provider.MachineItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://emf.eventb.org/models/core/context"
            class="org.eventb.emf.core.context.provider.ContextItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://emf.eventb.org/models/core"
            class="org.eventb.emf.core.CorePackage"
            genModel="model/eventbcore.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://emf.eventb.org/models/core/machine"
            class="org.eventb.emf.core.machine.MachinePackage"
            genModel="model/eventbcore.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://emf.eventb.org/models/core/context"
            class="org.eventb.emf.core.context.ContextPackage"
            genModel="model/eventbcore.genmodel"/>
   </extension>

</plugin>
